/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import 'variables';
@import 'forms.css';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


h1{
    padding-top: $headheight*2.5;
    font-size: 2em;
    font-weight: 700;
    @include topline;
}

h2{
    font-size: 1.75em;
    font-weight: 700;
}

h3{
    font-size: 1.5em;
    font-weight: 700;
}

h4{
    font-size: 1.25em;
    font-weight: 700;
}

h5{
    font-size: 1em;
    font-weight: 600;
}


html{
    background: white;
    font-family: "Proxima Nova", sans-serif;
    color: #363636;
}

.container{
    width: 90vw;
    margin: auto;
}

header{
  height: $headheight;
  width: 100vw;
  color: white;
  padding: 1em 0 1.6em;
  background-image: linear-gradient(to right, #2a79ff, #b300bf);
  margin-bottom: 4em;
  position: fixed;
  z-index: 9999;
  
  nav{
      list-style: none;
    }
    
nav li{
  display: inline-block;
  padding-right: 1em;
  vertical-align: middle;
    }
    
    #logo{
        font-size: 1.5em;
        font-weight: 100;
    }
}



.gradient{
  @extend header;
  background-image:
    linear-gradient(
      red, #f06d06
    );
}

.half{
  width: ($fullwidth/2) - 4vw;
  float: left;
  margin-right: 2vw;
}

.sort{
    @include topline;
    padding: 1em 0;
    margin-bottom: 2em;

    h5{
        display: inline;
        margin-right: 1em;
    }
    
    li{
        margin-right: 0.5em;
        display: inline;
    }
}

.options{
    @extend .sort;
}

.heading{
    border-bottom: 1px;
    margin-bottom: 0;
    font-weight: bold;

    .projectinfo{
        #projnumber{
            font-size: 1em;
            padding: 1.5em 0;
            display: inline-block;
            overflow: hidden;
        }   
    }

    .teammmemberinfo{
        p{
            font-size: 1em;
            padding: 1.5em 0;
            font-weight: bold;
        }
        
        p#firstname{
            margin-left: 10vw;
            text-transform: none;
            font-weight: 700;
        }
    
        p#numproj{
          float: right;
          margin-right: 5vw;
          font-weight: 700;
          text-align: center;
        }
    }
}

.buttons{
    float: right;
    
    li{
        padding: 0;
        height: 2em;
        margin-bottom: 0.5em;
    }
}

.clear{
    clear:both;
    width: 100vw;
}

footer{
    clear:both;
    display: block;
    border-top: 1px solid $gray;
    background: $lightgray;
    height: 12em;
    width: 100vw;
    margin-top: $headheight*4;
}