/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

@import 'variables';
@import 'teammembers.css';
@import 'forms.css';

// project index
.project, .teammember{
  display: block;
  width: 90vw;
  margin: 0.25em auto 2em;
  overflow: hidden;

    button{
      margin: 1em 0;
    }
        
    .projectinfo, .teammemberinfo{
      border-radius: $border-radius;
      height: $projheight;
      overflow: hidden;
      position: relative;

        .projectprogressbar{
         height: 100%;
         opacity: 0.75;
         position: absolute;
         top: 0;
         left: 0;
         z-index: -1;
         }
         
         .projectbackground{
         height: 100%;
         width: 100%;
         background: $gray;
         position: absolute;
         top: 0;
         left: 0;
         z-index: -2;
         }
    
        p{
          display: inline-block;
          overflow: hidden;
          padding: 1.5em 0;
          width: 12vw;
          white-space: nowrap;
          z-index: 100;
        }
        
        #projnumber{
          padding: 0.5em 0;
          font-weight: 700;
          width: 7vw;
          text-align: center;
          font-size: 2em;
        }
        
        #projname{
          width: 45vw;
        }

      
    }
    
    .teaminfo{
      
      width: 90vw;
      overflow: hidden;
      background: $lightgray;
      
      .team{
        vertical-align: middle;
        padding: 1em;
        display: inline;
        float: left;
        background: white;
        border-radius: $border-radius;
        margin: 1em 0.5em;
        
        img{
          float: left;
        }
        
      }
      
      article{
        float: left;
        padding: 0 0.5em;
        .title{
          font-weight: bold;
        }
      }
      
      .pm, .jc{
        width: 10vw;
      }
      
      .pm{
        margin-left: 1em;
      }
      
      .production{
        @extend .team;
        display: inline;
        
      }
    }
    
    //show, edit, delete buttons
    .buttons{
      margin: 1em 1em 0 0;
      height: 100%;
      padding: 0.5em;
      border-radius: $border-radius;
    }
}


// project show page
.showproject{
  
  h4{
    padding: 0.5em;
    border-top: 0;
    
  }
  
  .project, .team_assignments{
    width: $fullwidth;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 4em;
    
    
    th{
      text-align: left;
      border-top: none;
      border-bottom: 2px solid $gray;
    }
    
    tr{
      width: $fullwidth;
      
      border-bottom: $grayborder;
      
      .category{
        border-right: $grayborder;
        width: $fullwidth/8;
        
        h5{
          padding: 1em;
        }
      }
      
      td{
        width: ($fullwidth / 8) * 7;
        
        p{
          padding: 1em;
        }
      }
    }
    
    tr:nth-child(even){
      background: $lightgray;
    }
    
  }
  
  .project{
    margin: 0;
    margin-right: $fullwidth / 100;
    
    
  }
}