/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

@import 'variables';
@import 'teammembers.css';
@import 'forms.css';

// project index
.project, .teammember{
  display: block;
  width: 90vw;
  margin: 0.25em auto 2em;
  overflow: hidden;

    button{
      margin: 1em 0;
    }
        
    .projectinfo, .teammemberinfo{
      background: $lightgray;
      height: $projheight;
      overflow: hidden;
      position: relative;

    
        p{
          display: inline-block;
          overflow: hidden;
          padding: 1.5em 0;
          width: $fullwidth/5;
          white-space: nowrap;
          z-index: 100;
        }
        
        #projnumber{
          padding: 0.5em 0;
          font-weight: 700;
          width: 5vw;
          text-align: left;
          margin-left: 1em;
          font-size: 2em;
        }
        
        #projname{
          width: 25vw;
        }

        p#status{
        width: 20vw;
        text-align: left;
        }
        
    }
    
    .progressbar{
          height: 1em;
          position: relative;  
          
          .progressbar_space{
            background: gray;
            float: left;
            height: 1em;
            box-sizing:border-box;
          }
          
          .progress_white{
            position: absolute;
            right: 0;
            height: 1em;
            background: url(http://www.republicarchitecture.ca/images/projmgr/pb.png) white;
            background-size: 3em 3em;
            opacity: 0.75;
          }
        }
    
    .teaminfo{
      
      width: 90vw;
      overflow: hidden;
      background: $lightgray;
      
      .team{
        vertical-align: middle;
        padding: 1em;
        display: inline;
        float: left;
        background: white;
        border-radius: $border-radius;
        margin: 1em 0.5em;
        
        img{
          float: left;
        }
        
      }
      
      article{
        float: left;
        padding: 0 0.5em;
        .title{
          font-weight: bold;
        }
      }
      
      .pm, .jc{
        width: 10vw;
      }
      
      .pm{
        margin-left: 1em;
      }
      
      .production{
        @extend .team;
        display: inline;
        
      }
    }

  .buttons{
    margin: 0.75em 1em 0.75em;
    padding: 0;
  }
}


// project show page
.showproject{
  
  h4{
    padding: 0.5em;
    border-top: 0;
    
  }
  
  .project, .team_assignments{
    width: $fullwidth;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 4em;
    
    
    th{
      text-align: left;
      border-top: none;
      border-bottom: 2px solid $gray;
    }
    
    tr{
      width: $fullwidth;
      
      border-bottom: $grayborder;
      
      .category{
        border-right: $grayborder;
        width: $fullwidth/8;
        
        h5{
          padding: 1em;
        }
      }
      
      td{
        width: ($fullwidth / 8) * 7;
        
        p{
          padding: 1em;
        }
      }
    }
    
    tr:nth-child(even){
      background: $lightgray;
    }
    
  }
  
  .project{
    margin: 0;
    margin-right: $fullwidth / 100;
  }
  
  
}

/*
  .project{
    border-radius: 0px;
  
    .projectinfo{
      background: $lightgray;
      p{
        width: $fullwidth/5;
        
      }
      
      p#projnumber{
        text-align: left;
        margin-left: 1em;
      }
      
      p#status{
        width: 20vw;
        text-align: left;
      }
      
    }
    
    .progressbar{
      height: 1em;
      position: relative;
      
      .progressbar_space{
        background: gray;
        float: left;
        height: 1em;
        box-sizing:border-box;
      }
      
      .progress_white{
        position: absolute;
        right: 0;
        height: 1em;
        background: white;
        opacity: 0.55;
      }
    }
  }
*/
