/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

@import 'variables';
@import 'forms.css';
@import 'projects.css';

.teammember{
  margin-bottom: 3em;
  
  .teammmemberinfo{
    position: relative;
    border-radius: $border-radius;
  
    p{
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      z-index: 100;
      font-size: 2em;
      padding: 0.5em 0;
      text-align: center;
      font-weight: 500;
      margin-right: 0.25em;
    }
    
    #firstname{
      margin-left: 10vw;
      text-transform: uppercase;
      font-weight: 700;
    }
    
    #numproj{
      float: right;
      margin-right: 5vw;
      font-weight: 700;
      text-align: center;
    }
  }
 
  
  .projectinfo{
      height: inherit;

        .project{
          position: relative;
          width: $fullwidth;
          margin-bottom: 0.25em;

        
          .projectprogressbar{
            background: $progbarcolor;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
          }
             
          .projectbackground{
            height: 100%;
            width: 100%;
            background: $lightgray;
            border-bottom: 1px solid $gray;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;
          }
        
          p{
            font-size: 1em;
            display: inline-block;
            overflow: hidden;
            width: 12vw;
            white-space: nowrap;
            z-index: 100;
            padding: 0.5em;
          }
            
          #projnumber{
            font-weight: 700;
            width: 7vw;
            text-align: center;
            font-size: 1em;
          }
            
          #projname{
            width: 25vw;
          }
          
          #stage{
            width: 15vw;
          }
          
          .buttons{
            margin: 0.3em 0.3em 0 0;
            vertical-align: middle;
            .editbutton{
              width: 2em;
              height: 2em;
              background: url('http://www.republicarchitecture.ca/images/projmgr/editbuttons.png');
              background-size: 6em 4em;
              padding: 0;
              margin: 0 0.15em 0 0;
            }
            
            .show{
              @extend .editbutton;
              background-position: 0 0;
            }
            
            .show:hover{
              @extend .editbutton;
              background-position: 0 2em;
            }
            
            .edit{
              @extend .editbutton;
              background-position: -2em 0;
            }
            
            .edit:hover{
              @extend .editbutton;
              background-position: -2em 2em;
            }
            
            .delete{
              @extend .editbutton;
              background-position: -4em 0;
            }
            
            .delete:hover{
              @extend .editbutton;
              background-position: -4em 2em;
            }
          }
      }
  }
}

.headshot{
  border-radius: $border-radius;
  outline: none;

}

.large{
  @extend .headshot;
  width: 20vw;
  height: 20vw;
}

.medium{
  @extend .headshot;
  width: 10vw;
  height: 10vw;
}

.small{
  @extend .headshot;
  width: 4vw;
  height: 4vw;
  border: 0;
  outline: none;
  vertical-align: middle;
  background: $gray;
}